@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'gg-sans';
    src: url('./assets/fonts/gg-sans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'gg-sans';
    src: url('./assets/fonts/gg-sans-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
  }

  @font-face {
    font-family: 'gg-sans';
    src: url('./assets/fonts/gg-sans-SemiBold.ttf') format('truetype');
    font-weight: 600; /* Semi-Bold */
    font-style: normal;
  }

  @font-face {
    font-family: 'gg-sans';
    src: url('./assets/fonts/gg-sans-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
}


@layer components {
  .sidebar-icon {
    @apply  relative flex flex-col items-center justify-center
            h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
            rounded-3xl hover:rounded-xl
            transition-all duration-150 ease-linear;
  }

  .sidebar-icon-misc {
    @apply  relative flex items-center justify-center
            h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
            bg-gray-800 text-green-500
            hover:bg-green-600 hover:text-white
            rounded-3xl hover:rounded-xl 
            transition-all duration-150 ease-linear;
  }

  .sidebar-icon-dm {
    @apply  relative flex items-center justify-center
            h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
            rounded-3xl hover:rounded-xl bg-gray-800
            hover:bg-blue
            transition-all duration-150 ease-linear;
  }

  .icon-container {
    @apply w-12 h-12 overflow-hidden; /* Ensure the image fits within this box */
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
    rounded-md shadow-md text-white bg-gray-900
    text-xs font-bold
    transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-icon:hover .sidebar-tooltip {
    @apply scale-100;
  }

  .dm-tooltip {
    @apply absolute w-[91px] /*91px*/ p-2 m-2 min-w-max h-[35px] left-[160px] top-[165px]
    rounded-md shadow-md text-gray-400 bg-gray-900
    text-sm font-medium text-center
    transition-all duration-100 scale-0 origin-bottom;
  }
}